@use '../helpers' as *;

.chef {
    background-color: #0B0E11;
    display: flex;
    justify-content: center;
    margin-top: -1px;

    &__container {
        max-width: 1440px;
        margin: 100px 0px;
    }

    &__grid {
        display: grid;
        grid-template-columns: 410px 668px;
        gap: 105px;
        justify-content: center;
    }

    &__header {
        &-title {
            font-family: Dancing Script;
            font-size: 36px;
            font-weight: 700;
            color: #e3c08d;
            text-align: left;
        }

        &-subtitle {
            font-family: Poppins;
            font-size: 36px;
            font-weight: 600;
            color: #ffffff;
            text-align: left;
            padding-top: 15px;
            padding-bottom: 20px;
        }

        &-paragraph {
            font-family: Poppins;
            font-size: 16px;
            font-weight: 400;
            color: #d4d4d4;
            text-align: left;
            line-height: 162%;
            padding-bottom: 60px;
        }

        &-button {
            font-family: Poppins;
            font-size: 16px;
            font-weight: 600;
            color: #fff;
            text-align: center;
            padding: 18px 61px;
            background-color: #E3C08D;
            border: none;
        }
    }

    &__img {
        margin: -129px 0px 0px 1038px;
    }
}

