@use '../helpers' as *;

.connection {
    background-color: #0b0e11;
    display: flex;
    justify-content: center;

    &__container {
        max-width: 1440px;
        display: grid;
        grid-template-columns: 452px 535px;
        gap: 100px;
        overflow: hidden;
        position: relative;
        padding: 100px 135px;
    }

    &__info {
        max-width: 452px;

        &-title {
            font-family: Dancing Script;
            font-weight: 700;
            font-size: 36px;
            color: #e3c08d;
            padding-bottom: 15px;
        }

        &-subtitle {
            font-family: Poppins;
            font-weight: 600;
            font-size: 36px;
            color: #fff;
            padding-bottom: 30px;
        }

        &-paragraf {
            font-family: Poppins;
            font-weight: 400;
            font-size: 16px;
            line-height: 162%;
            color: #d4d4d4;
            padding-bottom: 40px;
        }
    }

    &__contact {
        display: grid;
        grid-template-columns: 50px 366px;
        gap: 12px;
        padding-bottom: 50px;

        &-link {
            font-family: Poppins;
            font-weight: 500;
            font-size: 22px;
            color: #fff;
            padding-bottom: 8px;
        }

        &-title {
            font-family: Poppins;
            font-weight: 400;
            font-size: 14px;
            color: #c4c4c4;
        }
    }

    &__form {
        &-contact {
            max-width: 570px;
            background-color: #e5bc80;
            position: relative;
            clip-path: polygon(0 0, 86% 0, 100% 12%, 100% 100%, 100% 100%, 0 100%, 0 100%, 0 0);
        }

        &-title {
            font-family: Poppins;
            font-weight: 600;
            font-size: 24px;
            color: #fff;
            padding-left: 201px;
            margin-top: -80px;
            margin-bottom: 40px;
        }

        &-tabl {
            display: grid;
            grid-template-columns: 207px 207px;
            gap: 16px;
            justify-content: center;
        }

        &-name {
            grid-column: 1 / 3;
            border: 1px solid #fff;
            background-color: transparent;
            width: 430px;
            height: 50px;
            font-family: Poppins;
            font-weight: 400;
            font-size: 14px;
            color: #fff;
            padding-left: 14px;
        }

        &-email {
            grid-column: 1 / 3;
            border: 1px solid #fff;
            background-color: transparent;
            width: 430px;
            height: 50px;
            font-family: Poppins;
            font-weight: 400;
            font-size: 14px;
            color: #fff;
            padding-left: 14px;
        }

        &-tel {
            border: 1px solid #fff;
            background-color: transparent;
            font-family: Poppins;
            font-weight: 400;
            font-size: 14px;
            color: #fff;
            padding-left: 14px;
            width: 207px;
            height: 50px;
        }
        &-subject {
            border: 1px solid #fff;
            background-color: transparent;
            font-family: Poppins;
            font-weight: 400;
            font-size: 14px;
            color: #fff;
            padding-left: 14px;
            width: 207px;
            height: 50px;
        }

        &-message {
            border: 1px solid #fff;
            background-color: transparent;
            font-family: Poppins;
            font-weight: 400;
            font-size: 14px;
            color: #fff;
            padding-left: 14px;
            width: 430px;
            height: 155px;
        }

        &-submit {
            width: 220px;
            height: 60px;
            font-family: Poppins;
            font-weight: 600;
            font-size: 16px;
            color: #e3c08d;
            background-color: #fff;
            border: none;
            margin-top: 50px;
            margin-left: 175px;
        }

        &-img-two {
            margin-left: 463px;
            margin-top: -50px;
        }
    }
}