@use '../helpers' as *;

.course {
    background-color: #0B0E11;
    margin-top: -57px;
    padding-bottom: 74px;
    display: flex;
    justify-content: center;
    
    

    &__menu {
        position: relative;
        background-color: #fff;
        width: 442px;
        margin: 50px 0px 0px 710px;
        z-index: 3;
        
        &-title {
            font-family: Dancing Script;
            font-weight: 700;
            font-size: rem(40);
            padding: 25px 154px 40px 35px;
            color: #E3C08D;
        }

        &-subtitle {
            font-family: Poppins;
            font-weight: 600;
            font-size: rem(20);
            padding-left: 35px;
            padding-bottom: 8px;
            color: #0F1622;

            &-price {
                font-family: Poppins;
                font-weight: 600;
                font-size: rem(20);
                padding-left: 35px;
                padding-bottom: 8px;
                color: #E3C08D;
            }

    
        }

        &-paragraf {
            font-family: Poppins;
            font-weight: 400;
            font-size: rem(16);
            padding-left: 35px;
            padding-bottom: 30px;
            color: #808080;
            padding-right: 70px;
        }
    }

    &__img {
        &-one{
            margin: -743px 0px 46px 146px;
            clip-path: polygon(0 0, 100% 0, 100% 0, 100% 69%, 65% 100%, 0 100%, 0 100%, 0 0);
        }

        &-two{
            margin: -321px 0px 0px 442px;
            clip-path: polygon(0 0, 75% 0, 100% 32%, 100% 100%, 100% 100%, 0 100%, 0 100%, 0 0);
        }

        &-three{
            padding-top: 30px;
            clip-path: polygon(11% 0, 100% 0, 100% 0, 100% 100%, 100% 100%, 0 100%, 0 100%, 0 25%);
        }

        &-four{
            position: relative;
            z-index: 1;
            margin: -480px 0px 0px 273px;
        }

        &-five{
            position: relative;
            z-index: 1;
            margin: 152px 0px 0px -36px;
        }
    }
}

