@use '../helpers' as *;

.discover {
    margin-top: -66px;
    background-image: linear-gradient(#000000 3%, #C4C4C4 25%, #0B1315 109%);
    display: flex;
    justify-content: center;

    &__header {

        &-title {
            font-family: Dancing Script;
            font-weight: 700;
            font-size: rem(36);
            color: #E3C08D;
            padding-top: 100px;
            text-align: center;
        }

        &-subtitle {
            font-family: Poppins;
            font-weight: 600;
            font-size: rem(36);
            color: #fff;
            padding-top: 15px;
            padding-bottom: 70px;
            text-align: center;
        }
    }

    &__video {
        position: relative;
        padding-bottom: 139px;

        &-player {
            width: 100%;
            height: 480px;
            
        }
        

        &-panel {
            position: absolute;
            inset: 0;
            padding: 198px 404px;
    
            &:not(.is-active) {
                @include hide;
            } 
        }
    
        &__play-button {
            background-color: transparent;
            border: none;
            color: #e3c08d;
    
        }
    }
}