@use '../helpers' as *;

.about-us {
    &__background {
        background-color: #0d1518;
        margin: 0px;
        display: flex;
        justify-content: center;
    }

    &__img-one {
        padding-left: 100px;
        padding-top: 136px;        
    }

    &__img-two {
        padding-left: 480px;
        margin-top: -625px;
        padding-bottom: 200px;
    }

    &__briefly {
        background-color: white;
        width: 570px;
        margin-left: 650px;
        position: relative;
        margin-top: -470px;
        clip-path: polygon(0 0, 86% 0, 100% 20%, 100% 100%, 100% 100%, 0 100%, 0 100%, 0 0);
    }

    &__title {
        font-family: Dancing Script;
        font-weight: 700;
        color: #e3c08d;
        padding-top: 35px;
        padding-left: 30px;
        padding-bottom: 20px;
    }

    &__subtitle {
        font-family: Poppins;
        font-weight: 600;
        color: #0f1622;
        padding-left: 30px;
        padding-bottom: 30px;
    }

    &__text {
        font-family: Poppins;
        font-weight: 400;
        color: #808080;
        font-size: 16px;
        line-height: 26px;
        padding-left: 30px;
        padding-right: 45px;
        padding-bottom: 57px;
    }

    &__button {
        color: #D7B686;
        font-family: Poppins;
        font-weight: 600;
        font-size: 16px;
        padding-left: 30px;
        padding-bottom: 40px;
    }

    &__icon {
        padding-left: 8px;
        padding-top: 1px;
    }
}

.about__img-one {
    clip-path: polygon(0 0, 80% 0, 100% 13%, 100% 100%, 100% 100%, 0 100%, 0 100%, 0 0);
}

.about__img-two {
    clip-path: polygon(0 0, 100% 0, 100% 0, 100% 100%, 100% 100%, 23% 100%, 0 87%, 0 0);
}

.about__img-tree {
    padding-bottom: 30px;
    margin-left: 1080px;
    margin-top: -110px;
}
