@use '../helpers' as *;


.mission {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.7) 0%, rgba(11, 19, 21, 0.7) 100%);

    &__container {
        overflow: hidden;
        display: flex;
        justify-content: center;
    }

    &__info {
        display: grid;
        grid-template-rows: 52px 120px 120px 120px;
        padding-top: 100px;
        margin-bottom: 150px;
        margin-right: 40px;

        &-title {
            font-family: Dancing Script;
            font-weight: 700;
            font-size: 36px;
            color: #e3c08d;
            padding-bottom: 50px;
            margin-bottom: 20px;
        }

        &-brifly {
           &--logo {
               display: grid;
               grid-template-columns: 50px 362px;
               gap: 20px;
            } 

            &--title {
                font-family: Poppins;
                font-weight: 600;
                font-size: 20px;
                color: #fff;
                padding-top: 30px;
                padding-bottom: 5px;
            }

            &--paragraf {
                font-family: Poppins;
                font-weight: 400;
                font-size: 16px;
                line-height: 162%;
                color: #d4d4d4;
                padding-right: 40px;
            }

            &--img {
                margin-top: 20px;
            }
        }
    }

    &__video {
        position: relative;
        margin-top: 140px;
        margin-bottom: 140px;
    }

    &__video-player {
        

        &__panel {
            position: absolute;
            inset: 0;
            display: flex;
            justify-content: center;
            align-items: center;

            &:not(.is-active) {
                @include hide;
            } 
            
        }

        &__play-button {
            background-color: transparent;
            border: none;
            color: #e3c08d;
        }
    }

}