@use '../helpers' as *;

.networks {
    background-color: #696969;
    display: flex;
    justify-content: center;

    &__container {
        display: grid;
        grid-template-columns: 42px 2px 42px 2px 42px 2px 42px 2px 42px; 
        gap: 115px;
        padding: 80px 154px;
        align-items: center;

        &-img {
            background-color: transparent
        }

        &-svg {
            background-color: #aaa;
        }
    }
}