@use '../helpers' as *;

.header {
    &__menu {
        background: linear-gradient(#000 8%, rgba(11, 19, 21, 0) 27%, rgba(0, 0, 0, 0.7) 82%, rgba(11, 19, 21, 0.7) 99%);        
        width: 100%;
        display: flex;
        justify-content: center;

    }
    &-inner {
        display: flex;
        justify-content: space-between;

    }
    &__ourmenu {
        color: #fff;
        max-width: 1440px;

        &-main {
            display: flex;
            justify-content: center;
        }


        &-nav  {
            display: grid;
            grid-template-columns: 234px 467px;
            gap: 454px;
            justify-content: center;
            max-width: 1155px;
            margin: 0 auto;


            &--logo {
                margin-top: 17px;
            }


            &--list {
                margin-top: 45px;
                display: grid;
                grid-template-columns: 40px 78px 57px 74px 41px;
                gap: 40px;
            }

            &--link {
                font-family: Poppins;
                font-size: 16px;
                color: #D1D1D1;
                text-decoration: none;
                font-weight: 500;
                font-size: rem(16);

                &---active {
                    text-decoration: underline;
                    text-decoration-color: #a26100;
                }
            }
        }

        &-img--one {
            float: left;
            padding-top: 116px;
        }

        &-img--two {
            padding-top: 100px;
            padding-bottom: 116px;
            float: right;
        
        }

        &-title {
            padding-top: 133px;
            text-align: center;

        }
    }
    
}
