@use '../helpers' as *;


.promo {
    background-color: #0B0E11;
    display: flex;
    justify-content: center;

    &__container {
        max-width: 1440px;
        overflow: hidden;
    }
    
    &__header-title {
        font-family: Dancing Script;
        font-weight: 700;
        font-size: 36px;
        color: #e3c08d;
        text-align: center;
        padding-top: 100px;
        padding-left: 200px;
    }

    &__header-subtitle {
        font-family: Poppins;
        font-weight: 600;
        font-size: 36px;
        color: #fff;
        text-align: center;
        padding-top: 15px;
        padding-bottom: 70px;
        padding-left: 200px;
    }

    &__header-img {
        float: right;
        margin-top: 45px;
    }

    &__body {
        display: grid;
        grid-template-columns: repeat(4, 250px);
        gap: 30px;
        justify-content: center;

        &-menu {
            &--offer-one {
               background-image: url(./../images/ourmenu/Promo-1.jpg);
               background-size: cover;
               width: 250px;
               height: 250px;
               padding-top: 20px;
               clip-path: polygon(0 0, 78% 1%, 100% 22%, 100% 100%, 100% 100%, 0 100%, 0 100%, 0 0);
            }

            &--offer-two {
                background-image: url(./../images/ourmenu/Promo-2.jpg);
                background-size: cover;
                width: 250px;
                height: 250px;
                padding-top: 20px;
                clip-path: polygon(0 0, 78% 1%, 100% 22%, 100% 100%, 100% 100%, 0 100%, 0 100%, 0 0);
             }

             &--offer-three {
                background-image: url(./../images/ourmenu/Promo-3.jpg);
                background-size: cover;
                width: 250px;
                height: 250px;
                padding-top: 20px;
                clip-path: polygon(0 0, 78% 1%, 100% 22%, 100% 100%, 100% 100%, 0 100%, 0 100%, 0 0);
             }

             &--offer-four {
                background-image: url(./../images/ourmenu/Promo-4.png);
                background-size: cover;
                width: 250px;
                height: 250px;
                padding-top: 20px;
                clip-path: polygon(0 0, 78% 1%, 100% 22%, 100% 100%, 100% 100%, 0 100%, 0 100%, 0 0);
             }

            &--sale {
                background-color: #F8BE69;
                margin-right: 170px;
                font-family: Poppins;
                font-weight: 600;
                font-size: 14px;
                color:#fff;
                padding: 8px 12px;
            }

            &--title {
                font-family: Poppins;
                font-weight: 600;
                font-size: 20px;
                color: #D1D1D1;
                text-align: center;
                padding-top: 20px;
            }

            &--price {
                font-family: Poppins;
                font-weight: 600;
                font-size: 24px;
                color: #E3C08D;
                text-align: center;
                padding-top: 15px;
                padding-bottom: 100px;
            }
        }
    }
}