@use '../helpers' as *;

.recipes {
    background-color: #0B0E11;
    margin-top: -1px;

    &__header-title {
        font-family: Dancing Script;
        font-weight: 700;
        color: #e3c08d;
        text-align: center;
        padding-top: 100px;
        font-size: 36px;
    }
    &__header-subtitle {
        font-family: Poppins;
        font-weight: 600;
        color: #fff;
        text-align: center;
        padding-top: 20px;
        font-size: 36px;
        padding-bottom: 70px;
    }

    &__header-img {
        float: right;
        padding-top: 0;
        margin-top: -262px;
    }

    &__body {
        display: grid;
        grid-template-columns: repeat(3, 369px);
        align-items: center;
        justify-content: center;
        gap: 30px;

        &-inner {
            display: grid;
            background-color: #182226;
            text-align: left;
            text-decoration: none;
            margin-bottom: 100px;
            clip-path: polygon(0 0, 79% 0, 100% 18%, 100% 100%, 100% 100%, 0 100%, 0 100%, 0 0);


            &:hover {
                transform: scale(1.05);
            }
        }

        &-title {
            font-family: Poppins;
            font-weight: 600;
            color: #fff;
            font-size: 22px;
            padding: 30px 20px 0px 20px;
        }

        &-subtitle {
            font-family: Poppins;
            font-weight: 400;
            color: #808080;
            font-size: 14px;
            padding: 12px 20px 0px 20px;
        }

        &-button {
            display: grid;
            grid-template-columns: 40px 190px;
            padding: 47px 0px 30px 20px;

            &--img {
                border-radius: 50px;
            }

            &--button {
                border: none;
                background-color: #182226;
                color: #fff;
                font-family: Poppins;
                font-weight: 400;
                font-size: 16px;
            }
        }
    }

}