@use '../helpers' as *;

.testimonials {
    background-color: #0d1518;
    display: flex;
    justify-content: center;

    &__container {
        max-width: 1440px;
    }

    &__header-title {
        font-family: Dancing Script;
        font-weight: 700;
        font-size: 36px;
        color: #e3c08d;
        padding-bottom: 15px;
        padding-top: 100px;
        text-align: center;
    }

    &__header-subtitle {
        font-family: Poppins;
        font-weight: 600;
        font-size: 36px;
        color: #fff;
        text-align: center;
        padding-top: 35px;
    }
    &__paragraph {
        font-family: Poppins;
        font-weight: 400;
        font-size: 20px;
        color: #d4d4d4;
        text-align: center;
        line-height: 35px;
        padding: 80px 110px 50px 110px;
    
        &-img {
            display: flex;
            justify-content: center;
            align-items: center;
            padding-bottom: 50px;
        }
    }

    &__name {
        font-family: Poppins;
        font-weight: 600;
        font-size: 24px;
        color: #fff;
        text-align: center;
        line-height: 26px;
        margin-bottom: 100px;
    }

    &__reviews {
        display: flex;

    }

    
}


.nav-button-one {
    margin-left: 170px;
    background-color: transparent;
    color: #fff;
    border: none;
    margin-top: -180px;
}

.nav-button-two {
    margin-right: 170px;
    background-color: transparent;
    color: #fff;
    border: none;
    margin-top: -180px;
}
