@use '../helpers' as *;
.main__video {
    display: flex;
    background-color: black;
    justify-content: center;
}

.video-player {
    position: relative;

    &__video {
        width: 100%;
        max-width: 1440px;
        position: relative;
    
    }

    &__panel {
        position: absolute;
        margin-top: -446px;
        margin-left: 50%;
        transition-duration: 0.3s;

        &:not(.is-active) {
            @include hide;
        } 
    }

    &__play-button {
        background-color: transparent;
        border: none;
        color: #e3c08d;

    }
}
