@use '../helpers' as *;

.work {
    background-color: #0d1518;;
    margin-top: -1px;
    display: flex;
    justify-content: center;

    &__container {
        max-width: 1221px;
    }

    &__hours {
        position: relative;
        background-color: #fff;
        width: 442px;
        z-index: 3;
        box-shadow: 0 4px 40px 0 rgba(0, 0, 0, 0.25);
        margin-top: 100px;

        
        
        &-mode {
            display: grid;
            grid-template-columns: 109px 125px;
            gap: 94px;
        }

        
        &-title {
            font-family: Dancing Script;
            font-weight: 700;
            font-size: rem(40);
            padding: 50px 164px 55px 60px;
            color: #E3C08D;
        }

        &-days {
            font-family: Poppins;
            font-weight: 500;
            font-size: rem(18);
            padding-left: 60px;
            padding-bottom: 20px;
            color: #0f1622;
        }

        &-time {
            font-family: Poppins;
            font-weight: 400;
            font-size: rem(18);
            padding-bottom: 20px;
            color: #808080;

            &--closed {
                font-family: Poppins;
                font-weight: 400;
                font-size: rem(18);
                color: #ff6363;
                padding-bottom: 50px;
            }
        }


        &-paragraf {
            font-family: Poppins;
            font-weight: 400;
            font-size: rem(16);
            padding-left: 44px;
            padding-bottom: 30px;
            color: #808080;
            padding-right: 70px;
        }
    }

    &__img {
        &-one{
            margin: -770px 0px 0px 315px;
            padding-top: 150px;
            clip-path: polygon(0 0, 79% 0, 100% 26%, 100% 100%, 100% 100%, 0 100%, 0 100%, 0 0);
        }

        &-two{
            margin: 23px 0px 0px 312px;
            padding-bottom: 100px;
            clip-path: polygon(0 0, 100% 0, 100% 0, 100% 66%, 77% 100%, 0 100%, 0 100%, 0 0);
        }

        &-three{
            margin: -596px 0px 0px 758px;
            clip-path: polygon(21% 0, 100% 0, 100% 0, 100% 100%, 100% 100%, 0 100%, 0 100%, 0 17%);
            padding-bottom: 87px;
        }

        &-four{
            position: relative;
            z-index: 1;
            margin: -670px 0px 0px 647px;
        }

        &-five{
            position: relative;
            z-index: 1;
            margin: 263px 0px 0px 1015px;
            padding-bottom: 75px;
        }
    }
}


