@font-face {
    font-family: 'Poppins Italic';
    src: url('./fonts/Poppins-Italic.woff2') format('woff2');
    font-family: 'Poppins';
    font-weight: normal;
    font-style: italic;
  }
  
  @font-face {
    font-family: 'Poppins Bold';
    src: url('./fonts/Poppins-Bold.woff2') format('woff2');
    font-family: 'Poppins';
    font-weight: bold;
    font-style: normal;
  }

  @font-face {
    font-family: 'Poppins Medium';
    src: url('./fonts/Poppins-Medium.woff2') format('woff2');
    font-family: 'Poppins';
    font-weight: 500;
    font-style: normal;
  }
  @font-face {
    font-family: 'Poppins Regular';
    src: url('./fonts/Poppins-Regular.woff2') format('woff2');
    font-family: 'Poppins';
    font-weight: normal;
    font-style: normal;
  }
  @font-face {
    font-family: 'Poppins SemiBold';
    src: url('./fonts/Poppins-SemiBold.woff2') format('woff2');
    font-family: 'Poppins';
    font-weight: 600;
    font-style: normal;
  }

  @font-face {
    font-family: 'Dancing Script Bold';
    src: url('./fonts/DancingScript-Bold.woff2') format('woff2');
    font-family: 'Dancing Script';
    font-weight: bold;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Dancing Script Medium';
    src: url('./fonts/DancingScript-Medium.woff2') format('woff2');
    font-family: 'Dancing Script';
    font-weight: 500;
    font-style: normal;
  }
  @font-face {
    font-family: 'Dancing Script Regular';
    src: url('./fonts/DancingScript-Regular.woff2') format('woff2');
    font-family: 'Dancing Script';
    font-weight: normal;
    font-style: normal;
  }
  @font-face {
    font-family: 'Dancing Script SemiBold';
    src: url('./fonts/DancingScript-SemiBold.woff2') format('woff2');
    font-family: 'Dancing Script';
    font-weight: 600;
    font-style: normal;
  }
